{{ if or (.Params.series) (.Params.categories) (.Params.topics) }}
{{- $scratch := newScratch}}
<div class="breadcrumbs">
	{{ if .Params.series }}
		{{ range $series := ($.GetTerms "series") }}
			{{ $scratch.Add "breadcrumb" (slice (printf "<a href=\"%s\">%s</a>" $series.Permalink $series.Name)) }}
		{{ end }}
	{{ end }}

	{{ if .Params.categories }}
		{{ range $category := ($.GetTerms "categories") }}
			{{ $scratch.Add "breadcrumb" (slice (printf "<a href=\"%s\">%s</a>" $category.Permalink $category.Name)) }}
		{{ end }}
	{{ end }}

	{{ if .Params.topics }}
		{{ range $topic := ($.GetTerms "topics") }}
			{{ $scratch.Add "breadcrumb" (slice (printf "<a href=\"%s\">%s</a>" $topic.Permalink $topic.Name)) }}
		{{ end }}
	{{ end }}

	{{ with ($scratch.Get "breadcrumb") }}
		{{ delimit . "&nbsp;»&nbsp;" }}
	{{ end}}
</div>
{{ end }}
